@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --black: #141414;
    --dark-grey: #1F1F1F;
    --white: #FFF;
    --blue: #0000FF;
    --grey: #333;
}

body {
    background-color: var(--black);
    height: 100svh;
    display: flex;
    justify: center;
    align-items: center;
}

div {
    background-color: var(--dark-grey);
    color: var(--white);
    max-width: 384px;
    text-align: center;
    padding: 40px;
    border-radius: 12px;
}

ul, li {
    list-style: none;
}

img {
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

h1  {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

strong {
    font-size: 14px;
    color: var(--blue);
    line-height: 150%;
}

p {
    margin-block: 24px;
    font-size: 14px;
    line-height: 150%;
}

a {
    color: var(--white);
    text-decoration: none;
}